/TestsCalabash/*.png
/apks/*
/*.png
/*.apk
/script/*.pyc
/TestsCalabash/test_servers/*
/OriginalAPK/*.apk
/apkstested/*/sc*.png
/apkstested/*/*.apk
/Resemble/node_modules/*
/Retest
!C:\Users\paula\Documents\PruebasAutomaticas\ATParcial2\apksTested\apk202\screenshot_3.png
